module.exports = {
  port: 8443,
  image_maxsize: 1048576*1024, //1GiB

  key_path: 'server.key',
  cert_path: 'server.crt',
  client_key_path: 'server.key',
  client_cert_path: 'client.crt',
  devices_ca_cert: 'devices_ca.crt',
  servers_ca_cert: 'servers_ca.crt',

  db_host: 'localhost',
  db_database: 'ulinux',
  db_user: 'ulinux',
  db_pass: 'ulinux',

  logs: {
    file: 'us.log',
    file_level: 'info', // Winston logger levels
    console_level: 'info',
  },

  client_imalive_interval: 5*60*1000, // 5 minutes

  ss_token: '',
};
